.editor-panel {
    width: 100%;
    height: 100%;
}

.editor-textarea {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 56px);
    border: 0;
    resize: none;
    margin: 0;
    padding: 20px;
    background: transparent;
    color: var(--text);
    font: 15px/1.6 ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    tab-size: 4;
}

.editor-textarea:focus {
    outline: none;
}